*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}
header{
    width: 100%;
    height: 5vh;
    background-color: aquamarine;
}
nav{
    width: 100%;
    height: 19vh;
    background-color: black;
    display: flex;
}
.nav1{
    width: 20%;
    height: 100%;
}
.nav2{
    width: 60%;
    height: 100%;
}
section{
    width: 100%;
    height: 15vh;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-between;
}
.sec1{
    width: 49%;
    height: 100%;
}
.sec2{
    width: 20%;
    height: 100%;
}
.sec3{
    width: 29%;
    height: 100%;
}
main{
    width: 100%;
    height: 33vh;
    /* background-color: brown; */
    display: flex;
    justify-content: space-between;
}

.ma1{
    width: 30%;
    height: 100%;
}
.ma2{
    width: 39%;
    height: 100%;
}
aside{
    width: 100%;
    height: 18vh;
    /* background-color: cadetblue; */
    display: flex;
    justify-content: space-between;
}
.sid1{
    width: 49%;
    height: 100%;
}
.sid2{
    width: 29%;
    height: 100%;
}
.sid3{
    width: 20%;
    height: 100%;
}
footer{
    width: 100%;
    height: 5vh;
    background-color: green;
}